.container {
  width: 100%;
  max-width: 500px;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.arrow-left {
  left: 5px;
}

.arrow-right {
  right: 5px;
}

.arrow:hover {
  color: #ffcc00; /* Highlight arrows on hover */
}

.circle-indicators {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.circle-indicators div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #888;
  transition: background-color 0.3s ease-in-out;
}

.circle-indicators .active {
  background-color: #ffcc00;
}

.current-img {
  width: 400px;
  height: 300px;
  box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out;
}

.hide-current-img {
  display: none;
}

.circle-indicator-active {
  background: rgb(177, 155, 155);
}
